@charset "UTF-8";

/*---- 初期設定 --------------------------------------------------------------------*/
body{
	color:#444444;
	background:#FFFFFF;
	margin:0px;
	padding:0px;
	line-height:130%;
	letter-spacing:0px;
	font-size: 90%;
	font-family: 'ＭＳ Ｐゴシック',sans-serif;
}

/*
h1, h2, h3, h4, h5, h6{
	font-size:100%;
	margin:0px;
	padding:0px;
	font-weight: normal;
}
*/

p, div, form, input{
	margin:0px;
	padding:0px;
}


th, td{
	margin:0px;
	padding:0px;
	font-weight: normal;
}

img{
	margin:0px;
	padding:0px;
	border:0px;
}


/*---- 2. テキスト --------------------------------------------------------------------*/
a:link{color:#0000FF; text-decoration:underline;}
a:active{color:#0000FF; text-decoration:underline;}
a:visited{color:#0000FF; text-decoration:underline;}
a:hover{color:#FF0000; text-decoration:underline;}

strong{font-style:normal; font-weight:bold; font-family:'ＭＳ Ｐゴシック',Hiragino Kaku Gothic Pro,sans-serif;}

.css5n {font-size:16px}
.css4n {font-size:14px}
.css3n {font-size:12px}
.css2n {font-size:11px}
.css1n {font-size:10px}
.css0n {font-size: 9px}

.css5a {font-size:16px; line-height:120%}
.css4a {font-size:14px; line-height:120%}
.css3a {font-size:12px; line-height:120%}
.css2a {font-size:11px; line-height:120%}
.css1a {font-size:10px; line-height:120%}
.css0a {font-size: 9px; line-height:120%}

.css6b {font-size:18px; line-height:150%}
.css5b {font-size:16px; line-height:150%}
.css4b {font-size:14px; line-height:150%}
.css3b {font-size:12px; line-height:150%}
.css2b {font-size:11px; line-height:150%}
.css1b {font-size:10px; line-height:150%}
.css0b {font-size: 9px; line-height:180%}

.css5c {font-size:16px; line-height:130%}
.css4c {font-size:14px; line-height:130%}
.css3c {font-size:12px; line-height:130%}
.css2c {font-size:11px; line-height:130%}
.css1c {font-size:10px; line-height:130%}
.css0c {font-size: 9px; line-height:130%}

